@import "style/reset.css";

@font-face {
  font-family: "Pixeboy";
  src: local("Pixeboy"), url("../../assets/fonts/Pixeboy.ttf") format("truetype");
}

html, body {
  font-family: Pixeboy, Courier;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  background: rgba(2, 2, 2, 0.7);
  text-align: center;

  img {
    width: 60%;
    margin-top: 100px;
  }
}

.characters {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5%;
  background: #eee;
  display: flex;
  align-items: center;

  li {
    width: 23%;
    display: block;
    margin: 1%;

    a {
      border: 5px solid #ddd;
      display: block;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      color: #333;

      img {
        width: 100%;
      }

      p {
        font-size: 2rem;
        margin-top: 1rem;
      }
    }
  }
}
