$pixel_width: 14px;

.level {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .name {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: $pixel_width * 3;
    right: $pixel_width * 3;
    font-size: 2.5rem;
    padding: $pixel_width;
    z-index: 999;
  }

  .collectable-count {
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    bottom: $pixel_width * 3;
    left: $pixel_width * 3;
    font-size: 2.5rem;
    padding: $pixel_width;
    z-index: 999;
  }
}

.background {
  position: fixed;
  background-repeat: repeat-x;
  top: 0;
  right: 0;
  bottom: calc(50% - #{$pixel_width * 7});
  left: 0;
}

.foreground {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(50% - #{$pixel_width * 7});
}

.character {
  display: inline-block;
  position: absolute;
  margin-bottom: -$pixel_width / 6;

  img {
    display: block;
  }
}

.position {
  position: absolute;
  top: 0;
  right: 0;
}
